<div>
  <%= search_form_for @q do |f| %>
    <div class="field">
      <%= f.label :fullname_cont, "Name Contains:" %>
      <%= f.search_field :fullname_cont  %>
    </div>

     <div class="field">

     <ul>
      <li class="checkFields">
        <%= f.label "Regional Expertise" %><br />
        <%= f.collection_check_boxes :expertises_id_in_any, Expertise.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
        <% end %>
      </li>

      <li class="checkFields">
        <%= f.label "Skills" %><br />
        <%= f.collection_check_boxes :skills_id_in_any, Skill.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
        <% end %>
      </li>

      <li class="checkFields">
        <%= f.label "Languages" %><br />
        <%= f.collection_check_boxes :languages_id_in_any, Language.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
        <% end %>
      </li>

      <li class="checkFields">
        <%= f.label "Training Expertise" %><br />
        <%= f.collection_check_boxes :types_id_in_any, Type.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
        <% end %>
      </li>
    </ul>

    </div>

    <div class="actions"><%= f.submit "Search" %></div>

  <% end %>

</div>
