<div class="container">


<% if current_user %>
  <h1><%= "Welcome #{current_user.name}" %></h1>
  <img src=<%="#{current_user.image}"%> /> <br>
  <h5><%= link_to "Sign out", "/signout" %></h5> <br>
  <h5><%= link_to 'Delete Account', current_user, method: :delete %></h5><br>
  <h5><a href ="/showall">Show All</a></h5><br>
  <h5><a href ="/">Home</a></h5><br>

Skills are: <br>
Contact:  <br>
Name: <%= "#{current_user.fullname}" %><br>


<div>
  <%= render "form" %>
</div>





<!-- if current user, then can edit / add things to database -->


<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>

</div>
