<div>
  <%= render "navbar" %>
</div>

<div class="container">

  <% if current_user %>
    <% if current_user.fullname == "" %>
      <h3><%= "Hi There!" %></h3>
    <%else%>
      <h3><%= "Hi, #{current_user.fullname}" %></h3>
    <%end%>
    <div class="optionsTop">
      <h5><a href ="/users/<%=current_user.id%>">Back</a></h5>
    </div>

    <hr>

    <div class="formDiv">
      <%= render "form" %>
    </div>

    <hr>

    <div class="optionsBottom">
      <h6><%= link_to "Delete Account", current_user, method: :delete %></h6> <br>
      <h6><%= link_to "Sign Out", "/signout" %></h6> <br>
    </div>



  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>

</div>
