<h1>View All Trainers</h1>
<h5><a href ="/">Home</a></h5><br>


<div class="container">


<%= form_tag showall_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>

<hr>



<% @users.each do |user| %>
  <a href="users/<%=user['id']%>"><%= user['fullname']%></a><br>
  Works at <%= user['affiliation'] %></br>
  <hr>

<% end %>



</div>
