<h1>View All Trainers</h1>
<h5><a href ="/">Home</a></h5><br>


<div class="container">

<div class="post_fav">
  <%= render "advancedsearch" %>
</div>

<hr>

<% @users.each do |user| %>
  <a href="users/<%=user['id']%>"><%= user['fullname']%></a><br>
  Works at <%= user['affiliation'] %></br>
  <hr>

<% end %>

<% if @search %>
Found you: <%=@search%>
<% end %>
<hr>







</div>
