<div>
  <%= render "navbar" %>
</div>

<div class="container">

  <% if @user['fullname'] == current_user.fullname %>

    <% if current_user.fullname == "" %>
      <h3><%= "Hi There!" %></h3>
    <%else%>
      <h3><%= "Hi, #{current_user.fullname}" %></h3>
    <%end%>

    <div class="optionsTop">
      <h5><a href ="<%=current_user.id%>/edit">Edit Profile</a></h5>
    </div>

  <% else %>
    <h3><%= @user['fullname'] %></h3>
  <% end %>

  <hr>

  <div class="optionsMiddle">

    Full Name: <p><%= @user['fullname'] %></p><br>
    Bio: <p><%= @user['bio'] %></p><br>
    Contact: <p><%= @user['contact'] %></p><br>
    Affiliation: <p><%= @user['affiliation'] %></p><br>
    Past Trainings: <p><%= @user['trainings'] %></p><br>
    Regional Expertise: <p><%= @user.expertises.map(&:name).sort.join(", ") %></p> <br>
    Skills: <p><%= @user.skills.map(&:name).sort.join(", ") %></p><br>
    Languages: <p><%= @user.languages.map(&:name).sort.join(", ") %></p><br>
    Training Expertise: <p><%= @user.types.map(&:name).sort.join(", ") %></p><br>

  </div>

  <hr>

  <div class="optionsBottom">
    <% if @user['fullname'] == current_user.fullname %>
      <h6><%= link_to "Delete Account", current_user, method: :delete %></h6> <br>
      <h6><%= link_to "Sign Out", "/signout" %></h6> <br>
    <% end %>
  </div>


</div>
