<div>
  <%= render "navbar" %>
</div>

<div class="container">

<% if @user['fullname'] == current_user.fullname %>
  <h3><%= "Hi, #{current_user.fullname}" %></h3>
<% end %>

<hr>

  <p>Name: <%= @user['fullname'] %></p><br>
  Contact: <%= @user['contact']%><br>
  Affiliation: <%= @user['affiliation'] %></br>
  Regional Expertise: <%= @user.expertises.map(&:name).sort.join(", ") %>

  </br>

  <h5><a href ="/users">Show All</a></h5><br>


<% if @user['fullname'] == current_user.fullname %>
<h5><%= link_to "Sign out", "/signout" %></h5> <br>
  <h5><%= link_to 'Delete Account', current_user, method: :delete %></h5> <br>
  <h5><a href ="<%=current_user.id%>/edit">Edit</a></h5><br>
  <h5><a href ="/">Home</a></h5><br>

<% end %>


<!-- if current user, then can edit / add things to database -->

</div>
