<%= form_for(@user) do |f| %>


  <div class="field">
    <%= f.label :fullname %><br>
    <%= f.text_field :fullname %><br>
    <%= f.label :bio %><br>
    <%= f.text_field :bio %><br>
    <%= f.label :contact %><br>
    <%= f.text_field :contact %><br>
    <%= f.label :affiliation %><br>
    <%= f.text_field :affiliation %><br>
    <%= f.label :trainings %><br>
    <%= f.text_field :trainings %><br>
  </div>

  <ul>
    <li class="checkFields">
      <div>
        <%= f.label "Regional Expertise" %><br />
        <%= f.collection_check_boxes :expertise_ids, Expertise.all, :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
    </li>

    <li class="checkFields">
      <div>
        <%= f.label "Skills" %><br />
        <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
    </li>

    <li class="checkFields">
      <div>
        <%= f.label "Languages" %><br />
        <%= f.collection_check_boxes :language_ids, Language.all, :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
    </li>

    <li class="checkFields">
      <div>
        <%= f.label "Training Expertise" %><br />
        <%= f.collection_check_boxes :type_ids, Type.all, :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
    </li>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
